<div class="alert-success alert-success-hidden">
    <div class="content-container">
        <h3>&#10003</h3>
        <h3>Successfully!</h3>
    </div>
    <button type="button" class="close-btn">&#10006</button>
</div>