<div class="form-name">
    <label for="name"></label>
    <input autocomplete="off" type="text" name="name" id="name" placeholder="Name" value="<%= person.name %>" required>
</div>

<div class="form-name">
    <label for="roles"></label>
    <input autocomplete="off" type="text" name="roles" id="roles" placeholder="Role" value="<%= person.roles %>" required>
</div>

<div class="form-workplace">
    <label for="workplace"></label>
    <textarea autocomplete="off" name="workplace" id="workplace" placeholder="Workplace / none" cols="20" rows="3"><%= person.workplace %></textarea>
</div>

<div class="form-contact">
    <label for="contact"></label>
    <textarea autocomplete="off" name="contact" id="contact" placeholder="Contact / none" cols="20" rows="3"><%= person.contact %></textarea>
</div>

<div class="container-btn">
    <a href="/user" class="cancel-btn">
        <i class="fas fa-times"></i> Cancel
    </a>
    <button type="submit" class="save-btn">
        <i class="fas fa-save"></i> Save
    </button>
</div>