<div class="profile-container profile-container-hidden">
    <div class="profile">
        <button class="close-btn" type="button">&#10006</button>
        <div class="profile-content-container">
            <div class="name-box">
                <h1 class="pf-name" id="pf-name"></h1>
            </div>
            <div class="box">
                <h2>Role: </h2>
                <h1 class="pf-role" id="pf-role"></h1>
            </div>
            <div class="box">
                <h2>Workplace: </h2>
                <h1 class="pf-workplace" id="pf-workplace"></h1>
            </div>
            <div class="box">
                <h2>Contact: </h2>
                <h1 class="pf-contact" id="pf-contact"></h1>
            </div>
        </div>
    </div>
</div>