@import './root.css';

section {
    display: grid;
    text-align: center;
    justify-content: center;
}

section h1 {
    margin: 30px;
    font-size: 2rem;
}

form {  
    padding: 40px;
    display: flex; 
    flex-direction: column;
    border: 1px solid var(--black);
    box-shadow: 0 2px 1px 0 var(--black);
    border-radius: 20px;
}

.form-image {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.form-image img {
    display: block;
    padding: auto;
    margin: auto;
    max-width: 50%;
    height: auto;
    /* border: 1px solid var(--black);   */
}

.form-image input {
    width: 50%;
    display: block;
    padding: auto;
    margin: auto;
}

.form-image input::file-selector-button {   
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    background-color: var(--black);
    color: var(--white);
    border-radius: 10px;
    font-size: 1rem;
}

.form-name {
    margin-top: 20px;
}

.form-name input, .form-position input {
    margin: 10px;
    font-size: 1.2rem;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--black);
}

.form-workplace textarea {
    resize: none;
    margin: 10px;
    font-size: 1.0rem;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--black);
}

.form-contact textarea {
    resize: none;
    margin: 10px;
    font-size: 1.0rem;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--black);
}

form .container-btn {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

form a {
    text-decoration: none;
    padding: 10px 30px;
    margin: 0 10px;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black);
    cursor: pointer;
}

form button {
    padding: 10px 40px;
    margin: 0 10px;
    border: none;
    background-color: var(--black);
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    form {
        padding: 30px;
        margin: 0 20px;
    }

    .form-image {
        row-gap: 10px;
    }

    .form-image input::file-selector-button {
        font-size: 0.8rem;
    }

    form a, form button {
        padding: 6px 12px;
        border-radius: 8px;
        font-size: .8rem;
    }

    section h1 {
        font-size: 1.2rem;
    }

    .form-name input, .form-position input {
        margin: 5px 0;
    }

    .form-workplace textarea, .form-contact textarea {
        margin: 5px 0;
        font-size: .8rem;
    }
}   

.form-name input:focus, .form-position input:focus {
    transition: 300ms;
    transform: scale(1.05);
}

.form-workplace textarea:focus, .form-contact textarea:focus {
    transition: 300ms;
    transform: scale(1.05);
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--black);
    background-color: var(--white);
    font-size: 1rem;
    transition: all 0.3s ease;
}

input:focus, textarea:focus {
    outline: none;
    border-color: var(--blueplus);
    background-color: #f9f9f9;
    transform: scale(1.05);
}

