@import './root.css';
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray);
    padding: 20px 30px;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    font-size: 2rem;
}

nav .container-btn a {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 400;
}

nav .container-btn .signin, nav .container-btn .new {
    color: var(--black);
    background-color: var(--white);
    border-radius: 10%;
}

@media screen and (max-width: 480px) {
    nav {
        padding: 15px 10px;
    }

    nav a {
        text-decoration: none;
        color: var(--white);
        font-weight: 600;
        font-size: 1.2rem;
    }
    
    nav .container-btn a {
        padding: 6px 8px;
        font-size: .8rem;
        font-weight: 400;
    }
}   