@import './root.css';

.profile-container {
    transition: .3s;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    z-index: 4;
}

.profile-container .profile {
    top: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--white);
    width: 80%;
    height: auto;
    padding: 20px;
    border-radius: 20px;
}

.profile-content-container {
    display: flex;
    flex-direction: column;
}

.profile-content-container .name-box {
    word-break: break-all;
    display: flex;
    justify-content: center;
}

.profile-content-container .box {
    display: flex;
    align-items: center;
}

.box h2 {
    color: var(--gray-blur);
    font-weight: 400;
}

.box h1 {
    word-break: break-all;
    margin: 0 10px;
    font-weight: 400;
}

.profile-container button {
    top: 20px;
    right: 20px;
    position: absolute;
    border-radius: 50%;
    align-self: self-end;
    border: none;
    background: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 1.4rem;
}

.profile-container button:hover {
    transition: .3s ease-in-out;
    background: var(--red);
    color: var(--white);
}

.profile-container-hidden {
    opacity: 0;
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .box h2 {
        font-size: .8rem;
    }
    
    .box h1 {
        font-size: 1.2rem;
    }
}