@import './root.css';

section {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    padding: 30px;
    border: 2px solid var(--black);
    border-radius: 10px;
    /*background: linear-gradient(135deg, var(--gray) 0%, var(--white) 100%);*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* เพิ่มเงา */
}

.container h1 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Kanit', sans-serif;
}

.form-group {
    margin: 30px 0;
    
}

.form-group input {
    width: 100%;
    height: auto;
    font-size: 1.4rem;
    border: none;
    border-bottom: 2px solid var(--black);
}

.form-group input,
form .container-btn button {
    transition: all 0.3s ease; /* เพิ่มความลื่นไหล */
}

.form-group input:focus {
    border-bottom: 2px solid var(--blue); /* เปลี่ยนสีเส้นขอบ */
    outline: none; /* ลบ outline เริ่มต้น */
}

form .container-btn {
    display: flex;
    justify-content: center;
}

form .container-btn button {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 12px 30px;
    color: var(--white);
    background-color: var(--black);
    border-radius: 10px;
    border: none;
    cursor: no-drop;
}

form .container-btn button:hover {
    background-color: var(--gray); /* เปลี่ยนสีพื้นหลังเมื่อ hover */
    transition: background-color 0.3s ease; /* เพิ่มความลื่นไหล */
    background-color: var(--blueplus); /* เปลี่ยนสีพื้นหลัง */
    color: var(--white); /* เปลี่ยนสีตัวอักษร */
    transform: scale(1.05); /* ขยายขนาด */
    transition: all 0.3s ease; /* เพิ่มการเปลี่ยนแปลง */
}

#sign-in {
    cursor: pointer;
}

.container p {
    margin-top: 20px;
    text-align: center;
}

.container p a {
    font-weight: 600;
}

.alert {
    background-color: var(--red);
    color: var(--white);
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
}

@media screen and (max-width: 480px) {
    .container {
        width: 300px;
    }

    .container h1 {
        font-size: 2rem;
    }

    .form-group {
        margin: 10px 0;
    }

    .form-group input {
        font-size: 1rem;
    }

    form .container-btn button {
        padding: 6px 15px;
        font-size: .8rem;
        font-family: 400;
    }

    .container p a, .container p {
        margin-top: 5px;
        font-size: .6rem;
    }
}