@import './colors-fonts.css';

section {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;    
    flex-wrap: wrap;
    flex-direction: row;
}

.head {
    width: 80%;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.head input {
    width: 100%;
    height: auto;
    font-size: 1.4rem;
    border: none;
    border-bottom: 2px solid var(--black);
}

.container-box {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    min-width: 40%;
    margin: 20px;
    padding: 25px;
    box-shadow: 0 2px 4px 0 var(--black);
    border-radius: 20px;
}
.container-box h4 {
    color: var(--gray-blur);
}

.image {
    display: flex;
    justify-content: center;
}

img {
    /* border: 1px solid var(--black);
    box-shadow: 0 2px 1px 0 var(--black);
    border-radius: 20px; */
    max-width: 50%;
    min-width: 50%;
}

.name h3 {
    text-align: center;
    margin: 10px 0;
    font-size: 2rem;
}

.workplace p {
    margin: 10px 0;
    font-size: 1.2rem;
}

.contact p {
    margin: 10px 0;
    font-size: 1.2rem;
}

section .container-btn {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.edit-btn {
    margin: 0 20px;
    padding: 10px 40px;
    text-decoration: none;
    background-color: var(--green);
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black);
}

.delete-btn {
    margin: 0 20px;
    padding: 10px 40px;
    border: none;
    background-color: var(--red);
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black);
    cursor: pointer;
}

.edit-btn:hover, .delete-btn:hover {
    transition: 300ms;
    transform: scale(1.05);
}

/* img:hover {
    transition: 300ms;
    transform: scale(1.05);
} */

@media screen and (max-width: 480px) {
    .head input {
        width: 70%;
        font-size: .8rem;
    }

    .container-box {
        max-width: 60%;
        min-width: 60%;
        margin: 10px;
    }

    .edit-btn, .delete-btn {
        margin: 0 10px;
        padding: 6px 12px;
        border-radius: 8px;
        font-size: .8rem;
    }

    .container-box h3 {
        font-size: 1rem;
    }

    .container-box p {
        font-size: .8rem;
    }
}   